@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* Header top css start */
#header{
    width: 100%;
}
.header-top{
    width: 100%;
    background-color: #303030;
}
.header-top p{
    color: #eceff1;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    padding-bottom: initial;
}
.header-middle .logo img{
    height: 80px;
    width: 240px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

    form{
        padding-top:25px;
    }
    .header-middle .search-container input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #87898B;
  }
  
    .header-middle .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
    .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    .search-container a, .search-container input[type=text],  .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search-container input[type=text] {
      border: 1px solid #ccc;  
    }

    
  }
  .icon-header{
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
}
.icon-header i{
  margin-right: 12px;
}
.header-bottom{
   background-color: #59a460;
}
.main-menu ul li a{
  color: #fff;
}
.single-slider-item{
  min-height: 650px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-image{
  margin-top: 250px;
}
.slider-image h3{
  color: #010101;
  font-family: "Butler", Sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
}
.slider-image h2{
  color: #3B8942;
  font-family: "Butler", Sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
}
.slider-image p{
  letter-spacing: 1.2px;
  color: #555;
  margin-bottom:55px; 
}
.slider button{
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #3B8942;
  border-radius: 48px 48px 48px 48px;
  padding: 10px;
}
.slider button i{
  margin-left: 14px;
}
.slider-section button.slick-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 25px;
  line-height: 26px;
  transform: translateY(10px);
  z-index: 99;
}
.slider-section button.slick-arrow:hover{
  border: 1px solid #000;
  background: #fff;
  color: #3B8942;
}
.slider-section button.slick-arrow:focus{
  border: 0;
  outline: 0;
}
.slider-section button.slick-arrow i {
  margin: 0;
}
.slider-section button.slider-prev.slick-arrow{
  left: 50px;
  right: auto;
}
.Join{
  background-color: #CCE0CE;
  padding-bottom: 50px;
}
.content-text{
  margin-top: 50px;
}
.content-text h2{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.content-text p{
  text-align: center;
  color: #333333;
  font-family: "Butler", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
iframe{
  border-radius: 15px;
}
.sidebar{
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  margin: 0 50px;
  padding: 30px; 
}
.sidebar .bed-img{
  align-items: center;
  align-content: center;
}
.sidebar .bed-img img{
  width: 90px;
  height: 90px;
  vertical-align: middle;
  display: inline-block;
}
.content-sitebar h2{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  margin-top: 20px;
}
.content-sitebar p{
  color: #333333;
  font-family: "Butler", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  margin-top: 15px;
}
.sidebar button{
  border-radius: 48px;
  margin-top: 10px;

}
.sidebar button:hover{
  background-color: #000;
  color: #fff;
}


.lyocell{
  background-color: #fff;
  margin: 50px 0 50px 0px;
  
}
.lyocell .content-lyocell h2{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}
.lyocell .content-lyocell p{
  text-align: center;
  color: #3B8942;
  font-family: "Butler", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}
.lyocell .shop{
  background-color: #fff;
  position: relative;
}
.shop .imag{
  width: 70%;
  height: 300px;
  margin-bottom: 10px;
}
.shop img{
  margin: 10px;
}
.head h6{
  color: #333333;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  padding-top: 30px;
}
.head h6:hover{
  color: #3B8942;
}
.price {
  color: #3B8942;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  margin-top: 12px;
  padding-bottom: 30px;
}
.price p{
  margin-bottom: 0;
}
.lyocell .icons{
  position: absolute;
  top: 80px;
  right: 5px;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  height: auto;
  display: block;
}
.lyocell .imag img:hover.icons{
  right: 15px;
}
.lyocell .icons i{
  color: #555;
}
.explore .text-content{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  margin: 50px 0px 50px 0px;
}

.explore-bed{
  position: relative;
  margin: 50px 0px 50px 0px;
}
.explore .explore-bed .images img{
  width: 350px;
  height: 380px;
}
.explore .contant-explore{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;

}
.content-text h2{
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0px;

}
.content-text p{
  text-align: center;
  color: #444444;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.explore button{
  border-radius: 15px;
}

.text-contente h2{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  margin:30px 0px 30px 0px;
}
.img-tencel{
  /* background-color: #ABB9AE; */
}
.heading{
  margin:25px 0 25px 0;
}
.heading h3{
  color: #333333;
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.heading {
  color: #333333;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.2px;
}


.blog{
  margin-top: 50px;
}
.our-blog h2{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}
.our-blog p{
  text-align: center;
  color: #3B8942;
  font-family: "Butler", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2px;

}
.blog .img-blog img{
  width: 100%;
}
.blog-header h6 {
  /* font-size: 16px; */
  padding: 17px;
  color: #333333;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.blog-paragraph p {
  color: #333333;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: -0.5px;
}
.blog-date {
  display: flex;
  flex-wrap: wrap;
}

.blog-date p {
  font-size: 14px;
  padding: 5px 10px;
  color: #999;
}

.background {
  background-color: #fff;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 50%);
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

}

/* Product item style */
.pd_product-item{
  position: relative;
  transition: .3s;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
}
.pd_product-item:hover{
  -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}
.pd_product-item img{
  width: 100%;
}
.pd_product-thumb{
  position: relative;
}
.pd_action-icons{
  position: absolute;
  top: 50%;
  right: 0;
  background: #fff;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 30px;
  visibility: hidden;
  transition: .4s;
}
.pd_product-item:hover .pd_action-icons{
  visibility: visible;
  transition: .3s;
  right: 25px;
}


.footer{
  background-color: #303030;
  padding-top: 60px;
}
.footer .footer-text img{
  width:: 150px;
  height: 50px;
}
.footer .footer-text p{
  color: #FFFFFF;
  font-family: "Rubik", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  margin-top:20px;
  letter-spacing: 0px;
}
.footer .footer-text h6{
  color: #FFFFFF;
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.7px;
}
.footer .footer-text li {
  color: #fff;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
}
.footer .footer-text i{
  color: #59A460!important;
}
.footer .footer-text i::before{
  padding: 10px;
}
.footer .footer-title h4{
  color: #FFFFFF;
  font-family: "Rubik", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.7px;
}
.footer .footer-ui ul li{
  list-style: none;
  padding-top:10px;
}
.footer .footer-ui ul li a{
  text-decoration: none;
  color:#fff;
  padding-bottom: 8px;
  line-height: 30px;
}
.footer-title p{
  color: #FFFFFF;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.footer-ui{
  display: flex;
  flex-wrap: wrap;
}
.search-container input{
  width:110px;
  padding: 10px;
}
.search-container button{
  background-color: #59A460;
  color: #fff;
  border: none;
  padding: 0;
  margin:-3px;
}
.footer-ui h4{
  color: #fff;
  font-family: "Rubik", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.7px;
}
.footer-ui img{
  background-color: #fff;
  width:200px;
}
.social-icons{
  color: #59A460;
}
.footer-bottom{
  background-color: #59A460;
  color: #fff;
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.sector-aboutus{
  margin:auto;
}
.sector-aboutus .image-about{
  width: 160px;
  height: 150px;
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 50%);
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  padding: 40px 0px 40px 0px;
  transition: .3s;
}
.sector-aboutus .image-about .imgaw img{
  width:100px;
  height: auto;
}

.sector-aboutus .image-about:hover{
  border-radius: 25px;
}
.text-center button{
  margin-top: 40px;
  border-radius: 25px;
}
.text-center button:hover{
  background-color: #000;
  border: 0;
}
.text-center button i{
  padding:10px;
}
.content-data{
  width: 600px;
  margin: auto;
  margin-top: 30px;
}
i.fas.fa-envelope-open {
  font-size: 50px;
}
.header2{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  margin-top:25px;
  letter-spacing: 0px;
}
.para{
  text-align: center;
  color: #3B8942;
  font-family: "Butler", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}
button.btn.btn-success.btn-block {
  margin-bottom: 15px;
}
.shipping{
  display: flex;
  flex-wrap: wrap;
}
.icon-box i{
  fill: #3B8942;
  color: #3B8942;
  border-color: #3B8942;
  font-size: 40px;
}
.shipping-context h5,p{
  color:#000;
  padding-left: 5px;
}
.shipping-context p{
  font-size: 14px;
}
.shipping{
  margin-top:50px;
}

.content-mission h6{
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0px;
}
.images-mission{
  margin-bottom: 50px;
}


.slider-image-text{
  width: 100%;
  height: 100%;

}
.Eucalyptus-content h4{
  margin-top: 50px;
  color: #000000;
  font-family: "Butler", Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}
.Eucalyptus-content p{
  text-align: center;
  color: #3B8942;
  font-family: "Butler", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}
button.slider-next.slick-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 25px;
  line-height: 26px;
  transform: translateY(10px);
  z-index: 99;
}

button.slider-prev.slick-arrow {
  left: 10px;
  right: auto;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 25px;
  line-height: 26px;
  transform: translateY(10px);
  z-index: 99;
}